@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --red-fill:#F28B82; --red-stroke:#D9534F;
  --yellow-fill:#F6E58D; --yellow-stroke:#E1C542;
  --green-fill:#9EDC9A; --green-stroke:#4CAF50;
  --blue-fill:#9EC3E6; --blue-stroke:#4A90D9;
}

body {
  background:
    #fafafa;

  color: #0f172a;
}

html, body, #root { height: 100%; }
body { margin: 0; }
#root { min-height: 100vh; }

/* esconde scrollbar (só visual) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.btn {
  @apply px-2 py-1 rounded-md border border-slate-200 bg-white hover:bg-slate-100 transition;
}
